html, body {
    text-align: center;
}

h1 {
    text-shadow: 0.5px 0.5px whitesmoke;
}

#form-container {
    width: 70%;
    margin: auto;
    background-color: gray;
    border-radius: 3px;
}

.labels {
    display: inline-block;
    width: 40%;
}

.right {
    float: right;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.radio {
    text-align: justify;
}

ul {
    list-style: none;
}

.reasons {

}

input, select, textarea {
    border-radius: 7px;
    box-shadow: 0.5px 0.5px whitesmoke;
}